In [3]:
pip install pandas

Collecting pandas
  Downloading pandas-3.0.1-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.4.2-cp312-cp312-win_amd64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\akbar\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting tzdata (from pandas)
  Downloading tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\akbar\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-3.0.1-cp312-cp312-win_amd64.whl (9.7 MB)
   ---------------------------------------- 0.0/9.7 MB ? eta -:--:--
   ----- ---------------------------------- 1.3/9.7 MB 8.4 MB/s eta 0:00:02
   ------------ --------------------------- 3.1/9.7 MB 8.8 MB/s eta 0:00:01
   ------------------- -------------------- 4.7/9.7 MB 7.9 MB/s eta 0:00:01
   ------------------------ --------------- 6.0/9.7 MB 7.5 MB/s eta 0:00:01
   ------------------------------- -------- 7.6/9.7 MB 7.7 MB/s eta 0:00:01
   ----------------------------------- ---- 8.7/9.7 MB 7.4 MB/s eta 0:00:01
   ---------------------------------------- 9.7/9.7 MB 7.1 MB/s eta 0:00:00
Downloading numpy-2.4.2-cp312-cp312-win_amd64.whl (12.3 MB)
   ---------------------------------------- 0.0/12.3 MB ? eta -:--:--
   -- ------------------------------------- 0.8/12.3 MB 4.8 MB/s eta 0:00:03
   ----- ---------------------------------- 1.6/12.3 MB 4.2 MB/s eta 0:00:03
   ------- -------------------------------- 2.4/12.3 MB 3.9 MB/s eta 0:00:03
   ---------- ----------------------------- 3.1/12.3 MB 3.7 MB/s eta 0:00:03
   ------------ --------------------------- 3.9/12.3 MB 3.8 MB/s eta 0:00:03
   --------------- ------------------------ 4.7/12.3 MB 4.0 MB/s eta 0:00:02
   ----------------- ---------------------- 5.5/12.3 MB 3.8 MB/s eta 0:00:02
   -------------------- ------------------- 6.3/12.3 MB 3.8 MB/s eta 0:00:02
   ----------------------- ---------------- 7.3/12.3 MB 3.9 MB/s eta 0:00:02
   ------------------------- -------------- 7.9/12.3 MB 3.8 MB/s eta 0:00:02
   ---------------------------- ----------- 8.7/12.3 MB 3.8 MB/s eta 0:00:01
   ------------------------------ --------- 9.4/12.3 MB 3.9 MB/s eta 0:00:01
   ----------------------------------- ---- 11.0/12.3 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------- 12.3/12.3 MB 4.3 MB/s eta 0:00:00
Downloading tzdata-2025.3-py2.py3-none-any.whl (348 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.4.2 pandas-3.0.1 tzdata-2025.3
Note: you may need to restart the kernel to use updated packages.

  WARNING: The scripts f2py.exe and numpy-config.exe are installed in 'c:\Users\AKBAR\AppData\Local\Programs\Python\Python312\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip is available: 24.2 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd

In [10]:
df = pd.read_csv('C:/Users/AKBAR/OneDrive/Desktop/Atliq project/Data/dim_hotels.csv')
df.head()

   property_id  property_name  category    city
0        16558   Atliq Grands    Luxury   Delhi
1        16559  Atliq Exotica    Luxury  Mumbai
2        16560     Atliq City  Business   Delhi
3        16561      Atliq Blu    Luxury   Delhi
4        16562      Atliq Bay    Luxury   Delhi

# Importing libraries
### importing pandas

In [11]:
df.nunique()

property_id      25
property_name     7
category          2
city              4
dtype: int64